.app {
  width: 400px;
  height: 200px;
  border: 1px solid #ccc;
}
.richeditor {
  width: 400px;
  height: 400px;
}
.richeditor_toolbar {
  height: 28px;
}
.richeditor_toolbarItem {
  display: inline-flex;
  border: 1px solid transparent;
}
.richeditor_toolbarItem.active {
  border: 1px solid gray;
}
.richeditor_area {
  height: calc(100% - 28px);
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
}