.rd_color-picker {
  position: absolute;
  padding: 8px;
  background: #fff;
  box-shadow: 0 0 6px rgba(66, 66, 66, 0.5);
}

.rd_hub {
  width: 180px;
  height: 12px;
}

.rd_hub-bar {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 5px 0;
  cursor: pointer;
  // background: linear-gradient(to right, red, blue, yellow, red); // 三环-其他环可以从此延伸
  // background: linear-gradient(to right, rgb(255,0,0),rgb(255,0,255),rgb(0,0,255),rgb(0,255,255),rgb(0,255,0), rgb(255,255,0),rgb(255,0,0)); // 六环
  background: linear-gradient(to right,rgb(255, 0, 0), rgb(255, 0, 128), rgb(255, 0, 255), rgb(128, 0, 255), rgb(0, 0, 255), rgb(0, 128, 255), rgb(0, 255, 255), rgb(0, 255, 128), rgb(0, 255, 0), rgb(128, 255, 0), rgb(255, 255, 0), rgb(255, 128, 0), rgb(255, 0, 0)); // 十二色相的色环-色彩设计的基础
}

.rd_hub-btn {
  position: absolute;
  right: 0;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  box-sizing: content-box;
  height: 16px;
  width: 16px;
  margin-right: -8px;
  margin-top: -2px;
  cursor: pointer;
}

.rd_box {
  display: flex;
  justify-content: space-between;
}

// 颜色显示器
.rd_color-display {
  width: 27px;
  height: 27px;
  background: rgb(255, 0, 0);
  margin-top: 11px;
  border-radius: 27px;
}

// rgb 控件
.rd_rgb-control {
  margin-top: 10px;
  width: 145px;

  .rd_rgb-control-list {
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
  }

  input {
    width: 32px;
    outline: none;
    padding: 3px 4px;
    border: 2px solid #000;
    font-size: 14px;

    &:focus {
      border-color: #FF9800;
    }
  }

  .rd_rgb-control-label {
    text-align: center;
    font-size: 14px;
  }
}

// 颜色选择列表
.rd_color-select {
  width: 180px;
  height: 50px;

  .rd_color-select-item {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 3px;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}

// picker footer
.rd_picker-footer {
  text-align: right;
  padding-top: 8px;
  padding-bottom: 2px;
  border-top: 2px solid #000;

  > button {
    outline: none;
    border: 2px solid #000;
    padding: 1px 8px;
    margin-left: 10px;
    cursor: pointer;

    &:hover {
      background: #000;
      color: #fff;
    }
  }
}